@font-face {
  font-family: Iwona;
  src: url("Iwona-Bold.woff2") format("woff2");
  font-weight:700;
  font-style:normal;
}

@font-face {
  font-family: Iwona;
  src: url("Iwona-BoldItalic.woff2") format("woff2");
  font-weight:700;
  font-style:italic;
}

@font-face {
  font-family: Iwona;
  src: url("Iwona-Italic.woff2") format("woff2");
  font-weight:400;
  font-style:italic;
}

@font-face {
  font-family: Iwona;
  src: url("Iwona-Regular.woff2") format("woff2");
  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family: Iwona;
  src: url("IwonaHeavy-Italic.woff2") format("woff2");
  font-weight:800;
  font-style:italic;
}

@font-face {
  font-family: Iwona;
  src: url("IwonaHeavy-Regular.woff2") format("woff2");
  font-weight:800;
  font-style:normal;
}

@font-face {
  font-family: Iwona;
  src: url("IwonaLight-Italic.woff2") format("woff2");
  font-weight:300;
  font-style:italic;
}

@font-face {
  font-family: Iwona;
  src: url("IwonaLight-Regular.woff2") format("woff2");
  font-weight:300;
  font-style:normal;
}

@font-face {
  font-family: Iwona;
  src: url("IwonaMedium-Italic.woff2") format("woff2");
  font-weight:600;
  font-style:italic;
}

@font-face {
  font-family: Iwona;
  src: url("IwonaMedium-Regular.woff2") format("woff2");
  font-weight:600;
  font-style:normal;
}

